.position{
    text-align: center;
}

.welcomeText{
    color:blue;
    font-size: 24px;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
}

.all-products{
    color:red;
    font-size: 20px;
    cursor: pointer;
    padding-top: 100px;
    text-align: center;
}