.position{
    text-align: center;
}
.card {
    display: flex;
}

.container {
    text-align: left;
    padding-left: 10px;
}

.product {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
    width: 40%;
    padding: 20px;
}

.product-position {
    display: flex;
    flex-direction: column;
    align-items: center;
}