<div *ngFor="let product of products">
    <div class="position">
        <div style='padding-top: 100px;'>
            <div class="product-position" [routerLink]="['/single_product',product.product_id]">
                <div class=" product">
                    <div class="card">
                        <img src={{product.product_image}} alt="Avatar" style="width: 50%;">
                        <div class="container">
                            <h4>Name: <b>{{product.product_title}}</b></h4>
                            <h4>Price: <b>{{product.product_price}}</b></h4>
                        </div>
                    </div>
                    <div class="container">
                        <p style="color: blue;">Click here for comments</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>